<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.h3.h3_java.media.kakao.mapper.KakaoMoBudgetAlarmMapper">

    <select id="selectBudgetAlarm" resultType="map">
        SELECT im, clk, cv, cr
        FROM h3_budget_daily_alarm
        WHERE user_id = #{userId}
        LIMIT 1
    </select>

    <select id="selectAlarmType" resultType="string">
        SELECT type
        FROM h3_budget_daily_alarm
        WHERE user_id = #{userId}
        LIMIT 1
    </select>

</mapper>
