<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.h3.h3_java.media.naver.mapper.NaverConvTypeMapper">

    <insert id="insertStatreportLog" parameterType="map">
        INSERT INTO h3_naver_statreport_daily
            (deltakey, daily_dt, report_type, success, jobid, userid)
        VALUES
            (#{deltakey}, #{daily_dt}, #{report_type}, #{success}, #{jobid}, #{userid})
    </insert>

</mapper>
