<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.h3.h3_java.media.naver.mapper.NaverMasterReportMapper">

    <select id="selectNaverAccounts" resultType="com.h3.h3_java.media.naver.dto.NaverAccountDto">
        SELECT
            user_id                AS userId,
            account_naver_access   AS accountNaverAccess,
            account_naver_secret   AS accountNaverSecret,
            account_naver_customer AS accountNaverCustomer
        FROM h3_account
        WHERE account_naver_access IS NOT NULL
          AND account_naver_customer IS NOT NULL
          AND account_naver_secret IS NOT NULL
    </select>

</mapper>
