<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.h3.h3_java.api.mapper.AccountLogMapper">

    <select id="findByAdvkey" resultType="map">
        SELECT advkey, campaign, campaign_hour, adgroup, keyword, ad, shopping
        FROM h3_account_log
        WHERE advkey = #{advkey}
    </select>

</mapper>
