<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3.h3_java.api.mapper.AdminMapper">

    <!-- 광고계정: 내가 관리하는 계정 수 -->
    <select id="countByUserManager" resultType="int">
        SELECT COUNT(*) FROM h3_share WHERE user_manager = #{userId}
    </select>

    <!-- 광고쉐어계정: 내가 쉐어받은 계정 수 -->
    <select id="countByShareManager" resultType="int">
        SELECT COUNT(*) FROM h3_share WHERE share_manager = #{userId}
    </select>

</mapper>
