<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3.h3_java.api.mapper.AdminMapper">

    <!-- 이관용: h3_share 전체 읽기 -->
    <select id="selectAllShare" resultType="map">
        SELECT user_id, user_manager, share_manager, share_favorites, share_regdate
        FROM h3_share
    </select>

</mapper>
