<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3.h3_java.auth.UserMapper">

    <select id="selectByUserId" resultType="com.h3.h3_java.auth.UserDto">
        SELECT user_id, user_name, user_pass, user_email, user_company,
               user_phone, user_level, user_status, user_manager
        FROM h3_users
        WHERE user_id = #{userId}
    </select>

    <select id="selectAll" resultType="com.h3.h3_java.auth.UserDto">
        SELECT user_id, user_name, user_pass, user_email, user_company,
               user_phone, user_level, user_status, user_manager,
               user_passupdate, user_regdate
        FROM h3_users
    </select>

    <update id="updateInfo">
        UPDATE h3_users
        SET user_name = #{name}, user_company = #{company},
            user_email = #{email}, user_phone = #{phone}
        WHERE user_id = #{userId}
    </update>

    <update id="updatePassword">
        UPDATE h3_users
        SET user_pass = #{hashedPass}, user_passupdate = #{passupdate}
        WHERE user_id = #{userId}
    </update>

</mapper>
